
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-6" style="margin-top:100px;">
	     	<h3>Password reset</h3>

           <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

          <form method="post"><br>

	       {% csrf_token %}
	       {{form}}<br>
	     <br> <input type="Submit" name="Send email"></br>
	
          </form><br>
        </div>
	    <div class="col-sm-6" id="right" style="background-color: #FF9100;height:500px;" >
			<div id="log-align" style="margin-left:270px;margin-top:100px;">
		  <img src="/static/img/CHI_logo.png" style="height: 100px;width: 80px;margin-bottom: 0px;
		   border-radius: 0px;margin-top:50px;">
			 <h2 style="color:white;margin-left:-120px;"> The Celeste health Initiative</h2>
		  <h5 style="color:white;margin-left:-50px;">Healthcare is a Right</h5>
			  </div>
			  </div>
			  

	</div>

</div>
</form>